# Setup

### Libraries and Packages

In [292]:
import pandas as pd
import datetime
import numpy as np
from datetime import date, timedelta, datetime
from IPython.display import HTML, display

### Import Data

In [293]:
# ACLED Ethiopia - for conflict analysis
eth = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\ethiopia.csv',',')

# ACLED Ukraine - for conflict analysis
ukr = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\ukraine.csv',',')

# NYT Metadata - for news trend analysis
nyt = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\times.csv',',')

C:\Users\Jon\AppData\Local\Temp\ipykernel_21336\991624813.py:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  eth = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\ethiopia.csv',',')
C:\Users\Jon\AppData\Local\Temp\ipykernel_21336\991624813.py:5: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  ukr = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\ukraine.csv',',')
C:\Users\Jon\AppData\Local\Temp\ipykernel_21336\991624813.py:8: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  nyt = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\times.csv',',')

In [294]:
nyt

,headline,date,doc_type,material_type,section,keywords
0,A Year of Devastation in Arizona’s Wild Lands,11/2/2020,article,Op-Ed,NaN,"['Border Barriers', 'Endangered and Extinct Sp..."
1,Trump Backers Block Highways as Election Tensi...,11/2/2020,article,News,NaN,"['Presidential Election of 2020', 'Demonstrati..."
2,"In Dash to Finish, Biden and Trump Set Up Show...",11/2/2020,article,News,NaN,"['Presidential Election of 2020', 'United Stat..."
3,"No Corrections: Nov. 2, 2020",11/2/2020,article,News,NaN,[]
4,"It’s the End of an Era for the Media, No Matte...",11/2/2020,article,News,NaN,"['News and News Media', 'Appointments and Exec..."
...,...,...,...,...,...,...
103198,Sunak’s Ascent Is a Breakthrough for Diversity...,10/24/2022,article,News,NaN,"['Elections', 'Politics and Government', 'Poll..."
103199,Lawmakers’ Report Says Philadelphia D.A.’s Pol...,10/24/2022,article,News,NaN,"['District Attorneys', 'State Legislatures']"
103200,Justice Dept. Charges 2 Chinese Citizens With ...,10/24/2022,article,News,NaN,"['Elections', 'Politics and Government', 'Unit..."
103201,Western Officials Warn Russia Could Use a Dirt...,10/24/2022,article,News,NaN,"['Russian Invasion of Ukraine (2022)', 'Defens..."
103202,Man Who Sold Gun Used in Synagogue Standoff Ge...,10/24/2022,article,News,NaN,"['Terrorism', 'Firearms', 'Kidnapping and Host..."

In [295]:
eth.columns

Index(['data_id', 'iso', 'event_id_cnty', 'event_id_no_cnty', 'event_date',
       'year', 'time_precision', 'event_type', 'sub_event_type', 'actor1',
       'assoc_actor_1', 'inter1', 'actor2', 'assoc_actor_2', 'inter2',
       'interaction', 'region', 'country', 'admin1', 'admin2', 'admin3',
       'location', 'latitude', 'longitude', 'geo_precision', 'source',
       'source_scale', 'notes', 'fatalities', 'timestamp', 'iso3'],
      dtype='object')

### Formatting

In [296]:
# Dates

eth['event_date'] = pd.to_datetime(eth['event_date'],format = '%d %B %Y')
eth['year'] = pd.to_datetime(eth['year'], format = '%Y')
ukr['event_date'] = pd.to_datetime(ukr['event_date'],format = '%d %B %Y')
ukr['year'] = pd.to_datetime(ukr['year'], format = '%Y')
nyt['date'] = pd.to_datetime(nyt['date'],format = '%m/%d/%Y')

# IDs

convert_dict = {
    'data_id' : str,
    'event_id_no_cnty' : str,
    'inter1' : str,
    'inter2' : str,
    'interaction' : str
}

eth = eth.astype(convert_dict)
ukr = ukr.astype(convert_dict)

# Order

eth = eth.sort_values(by = 'event_date', ascending = True)
ukr = ukr.sort_values(by = 'event_date', ascending = True)

# Exploratory Analysis

### Basic Fact-finding - Ukraine vs. Ethiopia

In [297]:
ukr.describe()

,iso,time_precision,latitude,longitude,geo_precision,fatalities,timestamp
count,38507.0,38507.000000,38507.000000,38507.000000,38507.000000,38507.000000,3.850700e+04
mean,804.0,1.014283,48.475363,36.328016,1.639988,0.530994,1.651426e+09
std,0.0,0.140687,1.175126,2.619424,0.524776,6.410213,1.464968e+07
min,804.0,1.000000,43.389000,22.300000,1.000000,0.000000,1.618436e+09
25%,804.0,1.000000,47.697500,35.517900,1.000000,0.000000,1.646174e+09
50%,804.0,1.000000,48.338000,37.571000,2.000000,0.000000,1.656436e+09
75%,804.0,1.000000,48.946700,37.942000,2.000000,0.000000,1.663096e+09
max,804.0,3.000000,52.341300,40.132200,3.000000,485.000000,1.667941e+09

So far, it looks like there is far more data for Ukraine than there is for Ethiopia - over 10 times more, in fact. This is surprising because the Ethiopian conflict has been going on for over a year longer than the fighting in Ukraine.

In [298]:
eth_civ = eth[eth.actor2 == 'Civilians (Ethiopia)']
ukr_civ = ukr[ukr.actor2 == 'Civilians (Ukraine)']
print(
    eth_civ.shape,
    ukr_civ.shape
)
print(
    'Civilian-involved incidents comprise ',(len(eth_civ)/len(eth))*100,'% of all ACLED incidents in Ethiopia.','\n',
    'Civilian-involved incidents comprise ',(len(ukr_civ)/len(ukr))*100,'% of all ACLED incidents in Ukraine.',sep=''
)

(1101, 31) (2790, 31)
Civilian-involved incidents comprise 30.874929893438026% of all ACLED incidents in Ethiopia.
Civilian-involved incidents comprise 7.2454358947723785% of all ACLED incidents in Ukraine.

When we filter by events where actor2 = Civilians, i.e. civilians were victims, we can see that a far greater percent of incidents targeted noncombatants in Ethiopia than in Ukraine.

In [299]:
eth_civ_acts = eth_civ.groupby(by = ['actor1']).count().sort_values(by = 'data_id',ascending = False)
ukr_civ_acts = ukr_civ.groupby(by = ['actor1']).count().sort_values(by = 'data_id',ascending = False)

In [300]:
print(
    'The perpetrators of the most violence against civilians in Ukraine are ',ukr_civ_acts.index[0],', ',ukr_civ_acts.index[1],' and ',ukr_civ_acts.index[2],'.\nThe perpetrators of the most violence against civilians in Ukraine are ',eth_civ_acts.index[0],', ',eth_civ_acts.index[1],' and ',eth_civ_acts.index[2],'.',sep=''
)

The perpetrators of the most violence against civilians in Ukraine are Military Forces of Russia (2000-), Military Forces of Russia (2000-) Air Force and Unidentified Armed Group (Ukraine).
The perpetrators of the most violence against civilians in Ukraine are TPLF: Tigray People's Liberation Front, Military Forces of Ethiopia (2018-) and OLF: Oromo Liberation Front (Shane Splinter Faction).

In [301]:
eth_ints = eth.loc[eth['fatalities'] > 0,['interaction','fatalities']].groupby(by = ['interaction']).count().sort_values(by = 'fatalities',ascending = False)
ukr_ints = ukr.loc[ukr['fatalities'] > 0,['interaction','fatalities']].groupby(by = ['interaction']).count().sort_values(by = 'fatalities',ascending = False)

In [302]:
eth_ints

             fatalities
interaction
12                  465
17                  238
37                  212
13                  200
27                  129
47                  115
14                   54
44                   47
78                   34
24                   34
34                   29
15                   10
57                    8
38                    8
11                    6
16                    6
22                    5
33                    3
35                    1
25                    1
48                    1
55                    1

In [303]:
ukr_ints

             fatalities
interaction
78                 1265
18                  711
12                  444
17                   27
37                   15
13                   14
80                   14
48                   12
47                   12
88                    7
27                    5
23                    5
38                    4
14                    4
68                    2
11                    1
22                    1
10                    1

In [304]:
eth.columns

Index(['data_id', 'iso', 'event_id_cnty', 'event_id_no_cnty', 'event_date',
       'year', 'time_precision', 'event_type', 'sub_event_type', 'actor1',
       'assoc_actor_1', 'inter1', 'actor2', 'assoc_actor_2', 'inter2',
       'interaction', 'region', 'country', 'admin1', 'admin2', 'admin3',
       'location', 'latitude', 'longitude', 'geo_precision', 'source',
       'source_scale', 'notes', 'fatalities', 'timestamp', 'iso3'],
      dtype='object')

In [305]:
eth_cf = eth.copy()
eth_cf['cf_eth'] = eth_cf['fatalities'].cumsum(axis=0)
eth_cf = eth_cf[['event_date','cf_eth']]
eth_cf.rename({"event_date" : "date"}, axis = 1, inplace=True)
eth_cf.drop_duplicates(inplace=True)
eth_cf = eth_cf.groupby('date').max()
eth_cf['date'] = eth_cf.index
eth_cf.index = range(0,len(eth_cf))
eth_cf = eth_cf[['date','cf_eth']]
eth_cf

          date  cf_eth
0   2020-11-04      66
1   2020-11-05      78
2   2020-11-06      83
3   2020-11-07     112
4   2020-11-08     240
..         ...     ...
647 2022-10-31   18099
648 2022-11-01   18102
649 2022-11-02   18152
650 2022-11-03   18152
651 2022-11-04   18152

[652 rows x 2 columns]

In [306]:
ukr_cf = ukr.copy()
ukr_cf['cf_ukr'] = ukr_cf['fatalities'].cumsum(axis=0)
ukr_cf = ukr_cf[['event_date','cf_ukr']]
ukr_cf.rename({"event_date" : "date"}, axis = 1, inplace=True)
ukr_cf.drop_duplicates(inplace=True)
ukr_cf = ukr_cf.groupby('date').max()
ukr_cf['date'] = ukr_cf.index
ukr_cf.index = range(0,len(ukr_cf))
ukr_cf = ukr_cf[['date','cf_ukr']]
ukr_cf

          date  cf_ukr
0   2020-11-04       0
1   2020-11-05       0
2   2020-11-06       2
3   2020-11-07       2
4   2020-11-08       2
..         ...     ...
726 2022-10-31   20135
727 2022-11-01   20143
728 2022-11-02   20260
729 2022-11-03   20444
730 2022-11-04   20447

[731 rows x 2 columns]

# NYT Trends

In [307]:
def containsTig(lst):
  if lst.count('Tigrayans (Ethnic Group)') > 0:
    return True
  else:
    return False

nyt_tig = nyt.copy()
nyt_tig['tig_tag'] = nyt_tig['keywords'].apply(containsTig)
nyt_tig = nyt_tig[(nyt_tig.tig_tag == True)]
nyt_tig

,headline,date,doc_type,material_type,section,keywords,tig_tag
1462,Ethiopia Escalates Fight Against Its Powerful ...,2020-11-05,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
2442,What’s Happening in Ethiopia Is a Tragedy,2020-11-11,article,Op-Ed,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
2970,They Once Ruled Ethiopia. Now They Are Fightin...,2020-11-15,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
4642,I Was a Child Refugee. Another War in Ethiopia...,2020-11-26,article,Op-Ed,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
4865,Ethiopia Claims Victory in Tigray Conflict Aft...,2020-11-28,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
5561,"From Shelled Ethiopian City, Doctors Tally Dea...",2020-12-03,article,News,NaN,"['Humanitarian Aid', 'War and Armed Conflicts'...",True
6346,Fleeing Ethiopians Tell of Ethnic Massacres in...,2020-12-09,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
6777,"As War Goes On in Ethiopia, Ethnic Harassment ...",2020-12-12,article,News,NaN,"['Tigrayans (Ethnic Group)', 'Discrimination',...",True
7897,"‘I Miss Home’: In Tigray Conflict, Displaced C...",2020-12-20,article,News,NaN,"['Refugees and Displaced Persons', 'Tigrayans ...",True
20285,Ethiopia’s War Leads to Ethnic Cleansing in Ti...,2021-02-26,article,News,NaN,"['Tigrayans (Ethnic Group)', 'Human Rights and...",True
23272,Fear and Hostility Simmer as Ethiopia’s Milita...,2021-03-19,article,News,NaN,"['Tigrayans (Ethnic Group)', 'Human Rights and...",True
24527,"Eritrea Agrees to Withdraw Troops From Tigray,...",2021-03-26,article,News,NaN,"['War Crimes, Genocide and Crimes Against Huma...",True
28871,The Anguish of the World’s Doctor,2021-04-24,article,Op-Ed,NaN,"['War Crimes, Genocide and Crimes Against Huma...",True
33071,"Changing Tack, U.S. Sanctions Ethiopia Over Ab...",2021-05-24,article,News,NaN,"['United States International Relations', 'War...",True
33389,Famine Looms in Ethiopia’s War-Ravaged Tigray ...,2021-05-26,article,News,NaN,"['Humanitarian Aid', 'War and Armed Conflicts'...",True
35477,"Famine Hits 350,000 in Ethiopia, Worst-Hit Cou...",2021-06-10,article,News,NaN,"['Humanitarian Aid', 'Tigrayans (Ethnic Group)...",True
36887,"From Nobel Hero to Driver of War, Ethiopia’s L...",2021-06-21,article,News,NaN,"['Politics and Government', 'Defense and Milit...",True
37242,"Dozens Killed in Market Airstrike in Ethiopia,...",2021-06-23,article,News,NaN,"['Civilian Casualties', 'War and Armed Conflic...",True
37681,3 Aid Workers for Doctors Without Borders Are ...,2021-06-25,article,News,NaN,"['Humanitarian Aid', 'Civilian Casualties', 'W...",True
37971,"Ethiopian Forces Retreat in Tigray, and Rebels...",2021-06-28,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
38164,Jubilant Tigray Capital Greets Insurgents Afte...,2021-06-29,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
38676,"After Sudden Defeat, Captured Ethiopian Soldie...",2021-07-02,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
38693,Tigrayan Forces Parade Ethiopian Soldiers Thro...,2021-07-02,multimedia,Video,NaN,"['Prisoners of War', 'War and Armed Conflicts'...",True
38767,‘I Didn’t Expect to Make It Back Alive’: An In...,2021-07-03,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
39697,How Local Guerrilla Fighters Routed Ethiopia’s...,2021-07-11,article,News,NaN,"['War and Armed Conflicts', 'War Crimes, Genoc...",True
43197,"As Ethiopia’s Civil War Rages, Bodies Float Do...",2021-08-03,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
45783,‘My Blood Is Boiling’: War Fever Surges in Eth...,2021-08-22,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
47157,"Ethiopian Rebels Looted American Aid Stores, U...",2021-09-01,article,News,NaN,"['Tigrayans (Ethnic Group)', 'Humanitarian Aid...",True
49498,Biden Threatens New Sanctions Against Ethiopia...,2021-09-17,article,News,NaN,"['War and Armed Conflicts', 'Defense and Milit...",True
56055,Ethiopia Declares State of Emergency as Rebels...,2021-11-02,article,News,NaN,"['War and Armed Conflicts', 'Defense and Milit...",True
56202,"Ethiopia’s Leader Vows to ‘Bury This Enemy,’ E...",2021-11-03,article,News,NaN,"['Politics and Government', 'Defense and Milit...",True
56460,Crackdown Sweeps Ethiopia’s Capital as War Dra...,2021-11-04,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
56659,Eight Groups Join Tigray Rebels Vowing to Oust...,2021-11-05,article,News,NaN,"['Tigrayans (Ethnic Group)', 'Oromo (Ethnic Gr...",True
57446,"Ethiopia Is Spiraling, and There’s One Man’s M...",2021-11-12,article,Op-Ed,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
57837,Blinken Heads to Africa as U.S. Tries to Avert...,2021-11-15,article,News,NaN,"['United States International Relations', 'War...",True
58035,Mass Detentions of Civilians Fan ‘Climate of F...,2021-11-17,article,News,NaN,"['Tigrayans (Ethnic Group)', 'Detainees']",True
59273,Ethiopian Leader Heads to Front Line as War Th...,2021-11-25,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War Crimes, Geno...",True
60682,Ethiopia Says It Recaptured Strategic Towns Fr...,2021-12-07,article,News,NaN,['Tigrayans (Ethnic Group)'],True
61204,"Tigray Rebels Executed Dozens of Civilians, Re...",2021-12-10,article,News,NaN,['Tigrayans (Ethnic Group)'],True
61723,The Nobel Peace Prize That Paved the Way for War,2021-12-15,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
62424,Foreign Drones Tip the Balance in Ethiopia’s C...,2021-12-20,article,News,NaN,"['Drones (Pilotless Planes)', 'Arms Trade', 'W...",True
64502,"Ethiopia Frees Prominent Political Prisoners, ...",2022-01-07,article,News,NaN,"['Political Prisoners', 'War and Armed Conflic...",True
64876,On Day Biden Calls Ethiopia’s Leader to Urge P...,2022-01-11,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
74908,Ethiopia Declares ‘Humanitarian Truce’ in War-...,2022-03-24,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
86587,Over 200 Feared Dead in Ethiopia Massacre,2022-06-19,article,News,NaN,"['War and Armed Conflicts', 'Civilian Casualti...",True
87162,When Satellites Capture a Crisis,2022-06-23,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
101223,"After Secret U.S. Talks Fail, a Hidden War in ...",2022-10-08,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
103154,Ethiopian Government and Tigray Rebels Set to ...,2022-10-24,article,News,NaN,['Tigrayans (Ethnic Group)'],True

In [308]:
def containsUkr(lst):
  if lst.count('Russian Invasion of Ukraine (2022)') > 0:
    return True
  else:
    return False

nyt_ukr = nyt.copy()
nyt_ukr['ukr_tag'] = nyt_ukr['keywords'].apply(containsUkr)
nyt_ukr = nyt_ukr[(nyt_ukr.ukr_tag == True)]
nyt_ukr

,headline,date,doc_type,material_type,section,keywords,ukr_tag
69427,Maps: Tracking the Russian Invasion of Ukraine,2022-02-14,multimedia,Interactive Feature,NaN,"['Defense and Military Forces', 'War and Armed...",True
70712,Putin Is Making a Historic Mistake,2022-02-23,article,Op-Ed,NaN,"['Russian Invasion of Ukraine (2022)', 'Intern...",True
70737,Climate Fears on Back Burner as Fuel Costs Soa...,2022-02-23,article,News,NaN,"['Global Warming', 'Russian Invasion of Ukrain...",True
70740,‘A Time of Worries’: New York City’s Ukrainian...,2022-02-23,article,News,NaN,"['Ukrainian-Americans', 'Russian Invasion of U...",True
70797,Russia Could Use Cryptocurrency to Blunt the F...,2022-02-23,article,News,NaN,"['Russian Invasion of Ukraine (2022)', 'Embarg...",True
...,...,...,...,...,...,...,...
103173,Ruling on Brittney Griner’s Appeal Set for Tue...,2022-10-24,article,News,NaN,"['Political Prisoners', 'Russian Invasion of U...",True
103190,Russia’s ‘Dirty Bomb’ Gambit,2022-10-24,article,News,NaN,['Russian Invasion of Ukraine (2022)'],True
103191,House progressives urge the Biden administrati...,2022-10-24,article,News,NaN,['Russian Invasion of Ukraine (2022)'],True
103196,Russian Officials Flee Kherson as Russian Troo...,2022-10-24,article,News,NaN,"['Russian Invasion of Ukraine (2022)', 'Defens...",True
103201,Western Officials Warn Russia Could Use a Dirt...,2022-10-24,article,News,NaN,"['Russian Invasion of Ukraine (2022)', 'Defens...",True

## Summing and Analysis

In [309]:
total_eth_fat = eth['fatalities'].sum()
total_ukr_fat = eth['fatalities'].sum()

In [310]:
print('ARTICLES PER 1,000 FATALITIES')
print('Ethiopia: ',((nyt_tig.shape[0]*1000)/total_eth_fat))
print('Ukraine: ',((nyt_ukr.shape[0]*1000)/total_ukr_fat))

ARTICLES PER 1,000 FATALITIES
Ethiopia:  2.644336712208021
Ukraine:  178.49272807404142

Building Articles over Time axes

In [311]:
daily_articles = pd.DataFrame(columns = ('date','eth','ukr'))

In [312]:
start_date = date(2020,11,1)
end_date = date.today()

delta = end_date - start_date

days=[]
for i in range(delta.days + 1):
    day = start_date + timedelta(days=i)
    days.append(day)

daily_articles['date'] = days
daily_articles['date'] = daily_articles['date'].astype('datetime64[ns]')

daily_articles = daily_articles.merge(eth_cf, how='left', left_on = 'date', right_on='date')
daily_articles = daily_articles.merge(ukr_cf, how='left', left_on = 'date', right_on='date')
daily_articles.fillna(method='ffill', inplace = True)
daily_articles

          date  eth  ukr   cf_eth   cf_ukr
0   2020-11-01  NaN  NaN      NaN      NaN
1   2020-11-02  NaN  NaN      NaN      NaN
2   2020-11-03  NaN  NaN      NaN      NaN
3   2020-11-04  NaN  NaN     66.0      0.0
4   2020-11-05  NaN  NaN     78.0      0.0
..         ...  ...  ...      ...      ...
752 2022-11-23  NaN  NaN  18152.0  20447.0
753 2022-11-24  NaN  NaN  18152.0  20447.0
754 2022-11-25  NaN  NaN  18152.0  20447.0
755 2022-11-26  NaN  NaN  18152.0  20447.0
756 2022-11-27  NaN  NaN  18152.0  20447.0

[757 rows x 5 columns]

In [313]:
start_date = date(2020,11,1)
end_date = date.today()

delta = end_date - start_date

days=[]
for i in range(delta.days + 1):
    day = start_date + timedelta(days=i)
    days.append(day)

eth_bool_arts = pd.DataFrame()
eth_bool_arts['date'] = days
eth_bool_arts['date'] = eth_bool_arts['date'].astype('datetime64[ns]')
eth_bool_arts = eth_bool_arts.merge(nyt_tig, how='left',left_on='date',right_on='date')
eth_bool_arts[['date','headline']]
eth_bool_arts['eth_arts'] = np.where(pd.notna(eth_bool_arts['headline']), 1, 0)
eth_bool_arts = eth_bool_arts[['date','eth_arts']]
eth_bool_arts['eth_arts'] = eth_bool_arts['eth_arts'].cumsum()
eth_bool_arts

ukr_bool_arts = pd.DataFrame()
ukr_bool_arts['date'] = days
ukr_bool_arts['date'] = ukr_bool_arts['date'].astype('datetime64[ns]')
ukr_bool_arts = eth_bool_arts.merge(nyt_ukr, how='left',left_on='date',right_on='date')
ukr_bool_arts[['date','headline']]
ukr_bool_arts['ukr_arts'] = np.where(pd.notna(ukr_bool_arts['headline']), 1, 0)
ukr_bool_arts = ukr_bool_arts[['date','ukr_arts']]
ukr_bool_arts['ukr_arts'] = ukr_bool_arts['ukr_arts'].cumsum()
ukr_bool_arts

           date  ukr_arts
0    2020-11-01         0
1    2020-11-02         0
2    2020-11-03         0
3    2020-11-04         0
4    2020-11-05         0
...         ...       ...
3748 2022-11-23      3240
3749 2022-11-24      3240
3750 2022-11-25      3240
3751 2022-11-26      3240
3752 2022-11-27      3240

[3753 rows x 2 columns]

In [314]:
daily_articles = daily_articles.merge(eth_bool_arts, how='left', left_on = 'date', right_on='date')
daily_articles = daily_articles.merge(ukr_bool_arts, how='left', left_on = 'date', right_on='date')
daily_articles

           date  eth  ukr   cf_eth   cf_ukr  eth_arts  ukr_arts
0    2020-11-01  NaN  NaN      NaN      NaN         0         0
1    2020-11-02  NaN  NaN      NaN      NaN         0         0
2    2020-11-03  NaN  NaN      NaN      NaN         0         0
3    2020-11-04  NaN  NaN     66.0      0.0         0         0
4    2020-11-05  NaN  NaN     78.0      0.0         1         0
...         ...  ...  ...      ...      ...       ...       ...
3750 2022-11-23  NaN  NaN  18152.0  20447.0        48      3240
3751 2022-11-24  NaN  NaN  18152.0  20447.0        48      3240
3752 2022-11-25  NaN  NaN  18152.0  20447.0        48      3240
3753 2022-11-26  NaN  NaN  18152.0  20447.0        48      3240
3754 2022-11-27  NaN  NaN  18152.0  20447.0        48      3240

[3755 rows x 7 columns]

In [317]:
daily_articles = daily_articles[['date','cf_eth','cf_ukr','eth_arts','ukr_arts']]
daily_articles

           date   cf_eth   cf_ukr  eth_arts  ukr_arts
0    2020-11-01      NaN      NaN         0         0
1    2020-11-02      NaN      NaN         0         0
2    2020-11-03      NaN      NaN         0         0
3    2020-11-04     66.0      0.0         0         0
4    2020-11-05     78.0      0.0         1         0
...         ...      ...      ...       ...       ...
3750 2022-11-23  18152.0  20447.0        48      3240
3751 2022-11-24  18152.0  20447.0        48      3240
3752 2022-11-25  18152.0  20447.0        48      3240
3753 2022-11-26  18152.0  20447.0        48      3240
3754 2022-11-27  18152.0  20447.0        48      3240

[3755 rows x 5 columns]